<div class="jumbotron text-center">
  <h1>MEAN App</h1>
  <p class="lead">Welcome to our custom MEAN Application.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Sign Up</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <h3>Express Backend</h3>
    <p>Use ExpressJs in backend.</p>
  </div>
  <div class="col-sm-4">
    <h3>Angular</h3>
    <p>Use Angular for frontend.</p>
  </div>
  <div class="col-sm-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentication using JSON web Tokens. Login and store user data.</p>
  </div>
</div>